---
layout: default
title: Ottawa Android Developers
---
<!-- Content
    ================================================== -->
  <div class="content">
    <a class="oad-icon" href="/"><img src="/img/ottawaandroid.png" /></a>
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>Ottawa Android Developers</h1>
          <div class="sub-title">Local Android developer group for the Ottawa region.</div>
    		</section>
    		<ul class="entries">
    		{% for post in paginator.posts %}
    		  <li>
    		    <a href="{{ post.url }}">
    		        <h3>{{ post.title }}</h3>
                <time>{{ post.date | date: "%d %B %Y" }}</time>
                <div>{{ post.content |truncatehtml | truncatewords: 30 }}</div>
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>
      
      <div id="post-pagination">
        <div class="pagination">
        <ul>
          {% if paginator.previous_page %}
            <li><a href="/page/{{paginator.previous_page}}/">&laquo;</a></li>
          {% endif %}
          {% if paginator.page == 1 %}
            <li class="active"><a href="/">1</a></li>
          {% else %}
            <li><a href="/">1</a></li>
          {% endif %}
          {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
            <li class="active"><a href="/page/{{count}}/">{{count}}</a></li>
            {% else %}
            <li><a href="/page/{{count}}/">{{count}}</a></li>
            {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
            <li><a href="/page/{{paginator.next_page}}/">&raquo;</a></li>
          {% endif %}
        </ul>
        </div>
      </div>

    </main>
  </div>

